 @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-fundo: #f5f9ff;
  --cor-primaria: #0d4c92;
  --cor-primaria-escura: #082f63;
  --cor-card: #ffffff;
  --cor-subtexto: #6b7280;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #f5f9ff;
  color: #111827;
}
